<footer class="footer section">
  <div class="container">
    <ul class="footer__list-box">
      <li class="footer__box-position">
        <img
          src="./images/page-index/logo/logo.webp"
          alt="Logo Web Wonder"
          class="footer__logo"
        />

        <ul class="footer__social-network">
          <li>
            <a
              href="https://www.instagram.com/web.wonder.ua/"
              class="footer__social-link"
              target="_blank"
            >
              <svg width="15" height="15" class="footer__social-icon">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#instagram"
                ></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              href="https://t.me/webwonder"
              class="footer__social-link"
              target="_blank"
            >
              <svg width="15" height="15" class="footer__social-icon">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#telegram"
                ></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              href="https://api.whatsapp.com/send/?phone=%2B380630539231&text&type=phone_number&app_absent=0"
              class="footer__social-link"
              target="_blank"
            >
              <svg width="15" height="15" class="footer__social-icon">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#whatsapp"
                ></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              href="mailto:webwonder.team@gmail.com"
              class="footer__social-link"
              target="_blank"
            >
              <svg width="15" height="15" class="footer__social-icon">
                <use href="./images/page-index/svg/symbol-defs.svg#email"></use>
              </svg>
            </a>
          </li>
        </ul>

        <p class="footer__copyright">&#xa9; 2022 Web Wonder</p>
      </li>

      <li class="footer__box-position">
        <p class="footer__titel-list">Послуги</p>

        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Створення лого</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Розробка сайту</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Дизайн сайту</a>
          </li>
          <li class="footer__nav-item">
            <a href="#calculator" class="footer__nav-link">Ціни</a>
          </li>
        </ul>
      </li>

      <li class="footer__box-position">
        <p class="footer__titel-list">Портфоліо</p>

        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Логотипи</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Верстка сайтів</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Дизайн сайтів</a>
          </li>
        </ul>
      </li>

      <li class="footer__box-position">
        <p class="footer__titel-list">Допомога</p>

        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Про нас</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Співпраця</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Політика конфіденційності</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Умови використання</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
