<header class="header">
  <div class="container header__box">
    <!-- Логтотип -->
    <a href="./" class="header__logo">
      <picture>
        <source srcset="./images/page-index/logo/logo.webp" type="image/webp" />
        <img
          src="./images/page-index/logo/logo.png"
          alt="Логотип Web Wonder"
          class="img-position"
        />
      </picture>
    </a>

    <!-- Кнопки мобильнго меню -->
    <button
      type="button"
      class="header__button-mobail"
      aria-controls="menu-container"
      aria-expanded="true"
    >
      <svg
        class="header__icon"
        width="30"
        height="30"
        aria-label="Переключатель мобильного меню"
      >
        <use
          class="header__icon-menu"
          href="./images/page-index/svg/symbol-defs.svg#menu"
        ></use>
        <use
          class="header__icon-cross"
          href="./images/page-index/svg/symbol-defs.svg#cross"
        ></use>
      </svg>
    </button>

    <!-- Мобильное меню -->
    <div class="header__menu-mobail" id="menu-container">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item nav__item--position">
            <a href="" class="nav__link nav__link--secondary"
              >Послуги
              <svg width="10" height="10" class="nav__open-secondary-menu">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#open-secondary-menu"
                ></use>
              </svg>
            </a>

            <ul class="nav__secondary-list">
              <li class="nav__secondary-item">
                <a href="" class="nav__secondary-link">Створення лого</a>
              </li>
              <li class="nav__secondary-item">
                <a href="" class="nav__secondary-link">Розробка сайту</a>
              </li>
              <li class="nav__secondary-item">
                <a href="" class="nav__secondary-link">Просування сайту</a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a href="#calculator" class="nav__link">Вартість</a>
          </li>
          <li class="nav__item">
            <a href="#portfolio" class="nav__link">Портфоліо</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Про нас</a>
          </li>
        </ul>

        <ul class="nav__social-network">
          <li class="nav__social-item">
            <a
              href="https://www.instagram.com/web.wonder.ua/"
              target="_blank"
              class="nav__social-link"
            >
              <svg class="nav__social-icon" width="15" height="15">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="nav__social-item">
            <a
              href="https://t.me/webwonder"
              target="_blank"
              class="nav__social-link"
            >
              <svg class="nav__social-icon" width="15" height="15">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>

        <a href="" class="consultation">Консультація</a>
      </nav>
    </div>

    <!-- меню таблетки и ПК -->
    <nav class="nav nav--hidden">
      <ul class="nav__list">
        <li class="nav__item nav__item--position" data-menu="isOpen">
          <a href="" class="nav__link nav__link--secondary"
            >Послуги
            <svg width="8" height="8" class="nav__open-secondary-menu">
              <use
                href="./images/page-index/svg/symbol-defs.svg#open-secondary-menu"
              ></use>
            </svg>
          </a>

          <div class="nav__secondary-menu-tablet-box" data-menu="secondaryMenu">
            <div class="nav__decorate"></div>
            <ul class="nav__secondary-list-tablet">
              <li class="nav__secondary-item-tablet">
                <a href="" class="nav__secondary-link">Створення лого</a>
              </li>
              <li class="nav__secondary-item-tablet">
                <a href="" class="nav__secondary-link">Розробка сайту</a>
              </li>
              <li class="nav__secondary-item-tablet">
                <a href="" class="nav__secondary-link">Просування сайту</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav__item">
          <a href="#calculator" class="nav__link">Вартість</a>
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link">Портфоліо</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Про нас</a>
        </li>
      </ul>
      <ul class="nav__social-network">
        <li class="nav__social-item">
          <a
            href="https://www.instagram.com/web.wonder.ua/"
            target="_blank"
            class="nav__social-link"
          >
            <svg class="nav__social-icon" width="15" height="15">
              <use
                href="./images/page-index/svg/symbol-defs.svg#instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="nav__social-item">
          <a
            href="https://t.me/webwonder"
            target="_blank"
            class="nav__social-link"
          >
            <svg class="nav__social-icon" width="15" height="15">
              <use
                href="./images/page-index/svg/symbol-defs.svg#telegram"
              ></use>
            </svg>
          </a>
        </li>
      </ul>

      <a href="" class="consultation">Консультація</a>
    </nav>
  </div>
</header>
