@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css'; /* Глобальные стили */
body {
  background-color: #ffffff;
  color: #3a5b66;
  font-family: "Comfortaa", cursive, Arial, sans-serif;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  body {
    position: relative;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.differences__title, .proses__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.23;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .differences__title, .proses__title {
    font-size: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .differences__title, .proses__title {
    font-size: 42px;
  }
}

/* сброс отсутпов и точек в списках */
.calculator__list, .portfolio__list, .proses__list, .footer__nav-list, .footer__social-network, .footer__list-box, .nav__social-network, .nav__secondary-list-tablet, .nav__secondary-list, .nav__list {
  padding-left: 0;
  list-style-type: none;
}

.padding-list {
  padding-left: 0;
  list-style-type: none;
}

/* Скрывет текст */
.text-delete {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* глобальные параметры картинок */
.img-position {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.portfolio-logo__palette-1-1 {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 5px;
  rotate: 45deg;
}

.portfolio-logo__palette-1-2 {
  width: 30px;
  height: 30px;
  background: #000;
  border: 1px solid #000;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: -1;
  left: 140px;
}

.portfolio-logo__palette-2-1 {
  width: 30px;
  height: 30px;
  background: #4ec600;
  border: 1px solid #4ec600;
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  z-index: 2;
}

.portfolio-logo__palette-2-2 {
  width: 30px;
  height: 30px;
  background: #122545;
  border: 1px solid #122545;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-2-3 {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  left: 160px;
}

.portfolio-logo__palette-3-1 {
  width: 30px;
  height: 30px;
  background: #000;
  border: 1px solid #ffffff;
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  z-index: 2;
}

.portfolio-logo__palette-3-2 {
  width: 30px;
  height: 30px;
  background: #c41a2f;
  border: 1px solid #fff;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-4-1 {
  width: 30px;
  height: 30px;
  background: #f4220c;
  border: 1px solid #ffffff;
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  z-index: 2;
}

.portfolio-logo__palette-4-2 {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-4-3 {
  width: 30px;
  height: 30px;
  background: #343f88;
  border: 1px solid #ffffff;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 0;
  left: 160px;
}

.portfolio-logo__palette-5-1 {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  z-index: 1;
}

.portfolio-logo__palette-5-2 {
  width: 30px;
  height: 30px;
  background: #000;
  border: 1px solid #ffffff;
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  right: 30px;
}

.portfolio-logo__palette-6-1 {
  width: 30px;
  height: 30px;
  background: #e24261;
  border: 1px solid #e24261;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 2;
  left: 120px;
}

.portfolio-logo__palette-6-2 {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-6-3 {
  width: 30px;
  height: 30px;
  background: #000;
  border: 1px solid #000;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  left: 160px;
}

.portfolio-logo__palette-7-1 {
  width: 30px;
  height: 30px;
  background: #dacb31;
  border: 1px solid #dacb31;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 120px;
}

.portfolio-logo__palette-7-2 {
  width: 30px;
  height: 30px;
  background: #000;
  border: 1px solid #000;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 0;
  left: 140px;
}

.portfolio-logo__palette-8-1 {
  width: 30px;
  height: 30px;
  background: #c09597;
  border: 1px solid #c09597;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 2;
  left: 120px;
}

.portfolio-logo__palette-8-2 {
  width: 30px;
  height: 30px;
  background: #f2c0bb;
  border: 1px solid #f2c0bb;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-8-3 {
  width: 30px;
  height: 30px;
  background: #000;
  border: 1px solid #000;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  left: 160px;
}

.portfolio-logo__palette-9-1 {
  width: 30px;
  height: 30px;
  background: #c18a65;
  border: 1px solid #c18a65;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 120px;
}

.portfolio-logo__palette-9-2 {
  width: 30px;
  height: 30px;
  background: #e6b363;
  border: 1px solid #e6b363;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  left: 140px;
}

.header {
  position: relative;
  background-color: #3a5b66;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  height: 1px;
  background: linear-gradient(90deg, rgb(58, 91, 102) 0%, rgb(255, 153, 51) 15%, rgb(255, 153, 51) 83%, rgb(58, 91, 102) 100%);
}
@media screen and (min-width: 768px) {
  .header__box::before {
    width: 768px;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__box::before {
    width: 1200px;
  }
}
.header__logo {
  width: 130px;
  height: 41px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 110px;
    height: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    width: 170px;
    height: 61px;
  }
}
.header__button-mobail {
  background: none;
  border: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__button-mobail {
    display: none;
  }
}
.header__icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon:hover, .header__icon:focus {
  fill: #ff9933;
}
.header__icon-menu, .header__icon-cross {
  transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header.is-hidden .header__icon-menu {
  display: none;
}
.header__icon-cross {
  display: none;
}
.header.is-hidden .header__icon-cross {
  display: block;
}
.header__menu-mobail {
  display: flex;
  position: absolute;
  z-index: 999;
  left: -100%;
  top: 100%;
  width: 100vw;
  height: calc(100vh - 81px);
  justify-content: center;
  align-items: center;
  background-color: #3a5b66;
  transition: left 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
}
@media screen and (min-width: 768px) {
  .header__menu-mobail {
    display: none;
  }
}
.header.is-hidden .header__menu-mobail {
  left: 0;
}

.nav {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .nav {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .nav--hidden {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav__list {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
}
.nav__item {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .nav__item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 20px;
  }
}
.nav__item--position {
  position: relative;
}
.nav__link, .nav__secondary-link {
  font-size: 19px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-decoration: none;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus, .nav__secondary-link:hover, .nav__secondary-link:focus {
  color: #ff9933;
}
@media screen and (min-width: 768px) {
  .nav__link, .nav__secondary-link {
    font-size: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link, .nav__secondary-link {
    font-size: 19px;
  }
}
.nav__secondary-link {
  white-space: nowrap;
}
.nav.is-open .nav__link--secondary {
  display: block;
  margin-bottom: 147px;
}
.nav__link--secondary {
  display: block;
}
@media screen and (max-width: 766px) {
  .nav__link--secondary {
    margin-bottom: 20px;
  }
}
.nav__open-secondary-menu {
  fill: #ffffff;
  transform: rotate(90deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav.is-open .nav__open-secondary-menu {
  transform: rotate(150deg);
}
.nav__open-secondary-menu {
  fill: currentColor;
}
.nav__secondary-list {
  position: absolute;
  pointer-events: none;
  top: -120px;
  left: -40px;
  opacity: 0;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .nav__secondary-list::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 1px;
    background: linear-gradient(90deg, rgb(58, 91, 102) 0%, rgb(255, 153, 51) 15%, rgb(255, 153, 51) 83%, rgb(58, 91, 102) 100%);
  }
}
.nav.is-open .nav__secondary-list {
  pointer-events: all;
  opacity: 1;
  z-index: 1;
  top: 20px;
}
.nav__secondary-item:not(:last-child) {
  margin-bottom: 20px;
}
.nav__secondary-item:first-child {
  margin-top: 20px;
}
.nav__secondary-menu-tablet-box {
  position: absolute;
  pointer-events: none;
  top: -120px;
  left: -65%;
  opacity: 0;
}
.nav__decorate {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  background: #ff9933;
  -webkit-clip-path: polygon(50% 45%, 45% 100%, 55% 100%);
          clip-path: polygon(50% 45%, 45% 100%, 55% 100%);
}
.nav__secondary-list-tablet {
  display: block;
  background: #3a5b66;
  border: 1px solid #ff9933;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item--position.is-open .nav__secondary-menu-tablet-box {
  pointer-events: all;
  opacity: 1;
  z-index: 1;
  top: 15px;
}
.nav__secondary-item-tablet:not(:last-child) {
  margin-bottom: 20px;
}
.nav__social-network {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.nav__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 0px;
  border-radius: 50%;
}
.nav__social-icon {
  fill: #3a5b66;
}
.nav__social-icon:hover, .nav__social-icon:focus {
  fill: #ff9933;
}

.consultation {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 1.17;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ff9933;
  border-radius: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.consultation:hover, .consultation:focus {
  color: #ff9933;
  border-color: #ffffff;
  background-color: #27454f;
}
@media screen and (min-width: 768px) {
  .consultation {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .consultation {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 19px;
  }
}

.footer {
  background-color: #27454f;
}
@media screen and (min-width: 768px) {
  .footer__list-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.footer__box-position:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__box-position {
    flex-basis: calc(50% - 20px);
  }
}
.footer__logo {
  width: 100px;
  margin-bottom: 20px;
}
.footer__social-network {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
}
.footer__social-link:hover .footer__social-icon, .footer__social-link:focus .footer__social-icon {
  fill: #ff9933;
}
.footer__social-icon {
  fill: #3a5b66;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__copyright {
  font-size: 12px;
  line-height: 1.55;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    font-size: 14px;
  }
}
.footer__titel-list {
  font-size: 20px;
  line-height: 1.55;
  color: #98acb3;
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .footer__titel-list {
    font-size: 24px;
  }
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 5px;
}
.footer__nav-link {
  font-size: 12px;
  line-height: 1.55;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__nav-link:hover, .footer__nav-link:focus {
  color: #fe9123;
}
@media screen and (min-width: 1200px) {
  .footer__nav-link {
    font-size: 14px;
  }
}

.copyright {
  background: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
}
.copyright__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  line-height: 1.25;
  opacity: 0.65;
  text-align: center;
  color: #000;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.copyright__title:hover {
  opacity: 1;
}

.primery {
  position: relative;
  background-color: #3a5b66;
}
.primery::before {
  content: "";
  display: block;
  width: 100vw;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(39px);
  -webkit-clip-path: polygon(50% 55%, 0 0, 100% 0);
          clip-path: polygon(50% 55%, 0 0, 100% 0);
  background: #3a5b66;
}
@media screen and (min-width: 768px) {
  .primery::before {
    height: 60px;
    transform: translateY(59px);
  }
}
.primery__position-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}
@media screen and (max-width: 767px) {
  .primery__position-img {
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 768px) {
  .primery__position-img {
    padding-top: 150px;
  }
}
.primery__eyedropper {
  position: absolute;
  top: 70px;
  left: 23px;
  rotate: 23deg;
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .primery__eyedropper {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__eyedropper {
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__eyedropper:hover {
    transform: scale(0.8);
  }
}
.primery__figma {
  position: absolute;
  top: 38px;
  left: 206px;
  rotate: -33deg;
  width: 46px;
  height: 46px;
}
@media screen and (min-width: 768px) {
  .primery__figma {
    width: 56px;
    height: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__figma {
    top: 38px;
    left: 606px;
    width: 66px;
    height: 66px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__figma:hover {
    transform: scale(0.8);
  }
}
.primery__code_tags {
  position: absolute;
  top: 125px;
  left: 187px;
  rotate: 33deg;
  width: 43px;
  height: 23px;
}
@media screen and (min-width: 768px) {
  .primery__code_tags {
    left: 287px;
    width: 53px;
    height: 33px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__code_tags {
    top: 125px;
    left: 387px;
    width: 64px;
    height: 43px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__code_tags:hover {
    transform: scale(0.8);
  }
}
.primery__photoshop {
  position: absolute;
  top: 173px;
  left: 57px;
  rotate: -13deg;
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .primery__photoshop {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__photoshop {
    left: 197px;
    width: 70px;
    height: 70px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__photoshop:hover {
    transform: scale(0.8);
  }
}
.primery__adobe-illustrator {
  position: absolute;
  top: 22px;
  right: 49px;
  rotate: 13deg;
  width: 35px;
  height: 35px;
}
@media screen and (min-width: 768px) {
  .primery__adobe-illustrator {
    top: 42px;
    right: 209px;
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__adobe-illustrator {
    top: 162px;
    right: 269px;
    width: 55px;
    height: 55px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__adobe-illustrator:hover {
    transform: scale(0.8);
  }
}
.primery__html {
  position: absolute;
  top: 144px;
  right: 57px;
  rotate: -33deg;
  width: 50px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .primery__html {
    width: 60px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__html {
    top: 244px;
    right: 57px;
    width: 70px;
    height: 60px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__html:hover {
    transform: scale(0.8);
  }
}
.primery__logo {
  width: 278px;
  height: 278px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .primery__logo {
    width: 478px;
    height: 478px;
  }
}
.primery__title {
  text-align: center;
  color: #ffffff;
}
.primery__title-dynamic {
  color: #ff9933;
}
.primery__codinghtml {
  position: absolute;
  bottom: 50px;
  left: 23px;
  rotate: 23deg;
  width: 45px;
  height: 45px;
}
@media screen and (min-width: 768px) {
  .primery__codinghtml {
    width: 55px;
    height: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__codinghtml {
    width: 65px;
    height: 65px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__codinghtml:hover {
    transform: scale(0.8);
  }
}
.primery__aftere-ffects {
  position: absolute;
  bottom: 128px;
  left: 176px;
  rotate: -33deg;
  width: 46px;
  height: 46px;
}
@media screen and (min-width: 768px) {
  .primery__aftere-ffects {
    bottom: 198px;
    left: 76px;
    width: 56px;
    height: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__aftere-ffects {
    bottom: 228px;
    left: 176px;
    width: 66px;
    height: 66px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__aftere-ffects:hover {
    transform: scale(0.8);
  }
}
.primery__color-palette {
  position: absolute;
  bottom: 45px;
  right: 177px;
  rotate: 33deg;
  width: 23px;
  height: 23px;
}
@media screen and (min-width: 768px) {
  .primery__color-palette {
    bottom: 125px;
    left: 207px;
    width: 33px;
    height: 33px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__color-palette {
    bottom: 105px;
    left: 277px;
    width: 43px;
    height: 43px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__color-palette:hover {
    transform: scale(0.8);
  }
}
.primery__css {
  position: absolute;
  bottom: 373px;
  left: 37px;
  rotate: -13deg;
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 1200px) {
  .primery__css {
    bottom: 373px;
    left: 57px;
    width: 45px;
    height: 45px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__css:hover {
    transform: scale(0.8);
  }
}
.primery__visual_studio {
  position: absolute;
  bottom: 112px;
  right: 49px;
  rotate: 13deg;
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 768px) {
  .primery__visual_studio {
    bottom: 62px;
    right: 79px;
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__visual_studio {
    width: 55px;
    height: 55px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__visual_studio:hover {
    transform: scale(0.8);
  }
}
.primery__format_color {
  position: absolute;
  bottom: 324px;
  right: 27px;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .primery__format_color {
    bottom: 294px;
    right: 17px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .primery__format_color {
    bottom: 254px;
    right: 197px;
    width: 50px;
    height: 50px;
    transition: transform 750ms cubic-bezier(0.83, 0.93, 0.58, 1.3);
  }
  .primery__format_color:hover {
    transform: scale(0.8);
  }
}

.proses {
  position: relative;
}
.proses::before {
  content: "";
  display: block;
  width: 100vw;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: translateY(39px);
  -webkit-clip-path: polygon(50% 55%, 0 0, 100% 0);
          clip-path: polygon(50% 55%, 0 0, 100% 0);
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .proses::before {
    height: 60px;
    transform: translateY(59px);
  }
}
.proses__container--line {
  position: relative;
}
@media screen and (max-width: 767px) {
  .proses__container--line {
    padding-left: 70px;
  }
}
.proses__container--line::after {
  content: "";
  position: absolute;
  top: 160px;
  left: 30px;
  width: 2px;
  height: 75%;
  background: #3a5b66;
}
@media screen and (min-width: 768px) {
  .proses__container--line::after {
    top: 220px;
    left: 50%;
    height: 72%;
    transform: translateX(-50%);
  }
}
.proses__title {
  color: #3a5b66;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .proses__title {
    font-size: 38px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .proses__title {
    font-size: 42px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .proses__item {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .proses__item:nth-child(2n) {
    display: flex;
    justify-content: end;
  }
}
@media screen and (min-width: 768px) {
  .proses__box-positioning {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .proses__box-positioning {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.proses__img {
  height: 80px;
  margin-bottom: 20px;
}
.proses__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.35;
  color: #3a5b66;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .proses__name {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .proses__name {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .proses__name {
    font-size: 22px;
  }
}
.proses__description {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.45;
  color: #3a5b66;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .proses__description {
    font-size: 14px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .proses__description {
    font-size: 15px;
  }
}
.proses__discussion {
  position: absolute;
  left: 15px;
  top: 16%;
  z-index: 1;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 1.35;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  background: #3a5b66;
}
@media screen and (min-width: 768px) {
  .proses__discussion {
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.proses__task {
  position: absolute;
  left: 15px;
  top: 36%;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 1.35;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  background: #3a5b66;
}
@media screen and (min-width: 768px) {
  .proses__task {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.proses__work {
  position: absolute;
  left: 15px;
  top: 53%;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 1.35;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  background: #3a5b66;
}
@media screen and (min-width: 768px) {
  .proses__work {
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .proses__work {
    top: 51%;
  }
}
.proses__edits {
  position: absolute;
  left: 15px;
  top: 73%;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 1.35;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  background: #3a5b66;
}
@media screen and (min-width: 768px) {
  .proses__edits {
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 768px) {
  .proses__edits {
    top: 56%;
  }
}
.proses__resoult {
  position: absolute;
  left: 15px;
  top: 91%;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 1.35;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  background: #3a5b66;
}
@media screen and (min-width: 768px) {
  .proses__resoult {
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.differences {
  position: relative;
  background-color: #3a5b66;
}
.differences::before {
  content: "";
  display: block;
  width: 100vw;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(39px);
  -webkit-clip-path: polygon(48% 55%, 0 0, 100% 0);
          clip-path: polygon(48% 55%, 0 0, 100% 0);
  background: #3a5b66;
}
@media screen and (min-width: 768px) {
  .differences::before {
    height: 60px;
    transform: translateY(59px);
  }
}
.differences__title {
  color: #ffffff;
  margin-bottom: 20px;
}
.differences__box-table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: scroll;
  display: flex;
  justify-content: start;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90vw;
}
@media screen and (min-width: 1200px) {
  .differences__box-table {
    max-width: 1200px;
  }
}
.differences__table {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  background-color: #fff;
  border-collapse: collapse;
}
.differences__data-title, .differences__data {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.differences__line:not(:last-child) {
  border-bottom: 3px solid #e4e4e4;
}
.differences__data:not(:last-child) {
  border-right: 3px solid #e4e4e4;
}
.differences__data-title {
  font-size: 16px;
  line-height: 1.35;
  font-weight: 700;
  color: #3a5b66;
  border-bottom: 3px solid #e4e4e4;
}
@media screen and (min-width: 768px) {
  .differences__data-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .differences__data-title {
    font-size: 20px;
  }
}
.differences__data {
  font-size: 12px;
  line-height: 1.45;
  color: #3a5b66;
}
@media screen and (min-width: 768px) {
  .differences__data {
    font-size: 14px;
    line-height: 1.55;
  }
}
@media screen and (min-width: 1200px) {
  .differences__data {
    font-size: 16px;
  }
}
.differences__data-title--alignment, .differences__data--alignment {
  text-align: start;
}
.differences__icon-check {
  fill: #25b309;
}
.differences__icon-cros {
  fill: #f24613;
}

.portfolio {
  position: relative;
}
.portfolio::before {
  content: "";
  display: block;
  width: 100vw;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: translateY(39px);
  -webkit-clip-path: polygon(50% 55%, 0 0, 100% 0);
          clip-path: polygon(50% 55%, 0 0, 100% 0);
  background: #fff;
}
@media screen and (min-width: 768px) {
  .portfolio::before {
    height: 60px;
    transform: translateY(59px);
  }
}
.portfolio__global-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio__title {
  text-align: center;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.55;
  font-weight: 700;
  border-radius: 10px;
  background-color: #3a5b66;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .portfolio__title {
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 50px;
    font-size: 46px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__title {
    font-size: 56px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__logo, .portfolio__site {
    margin-bottom: 30px;
  }
}
.portfolio__logo, .portfolio__site, .portfolio__promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio__services-title {
  text-align: center;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 700;
  margin-bottom: 30px;
  color: #3a5b66;
}
@media screen and (min-width: 768px) {
  .portfolio__services-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__services-title {
    font-size: 28px;
  }
}
.portfolio__img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border: 3px solid #3a5b66;
  border-radius: 50%;
  box-shadow: 1px 2px 44px -16px rgba(42, 42, 42, 0.75);
  -webkit-box-shadow: 1px 2px 44px -16px rgba(42, 42, 42, 0.75);
  -moz-box-shadow: 1px 2px 44px -16px rgba(42, 42, 42, 0.75);
}
.portfolio__button {
  text-decoration: none;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-right: 20px;
  font-size: 10px;
  line-height: 1.55;
  font-weight: 900;
  border: 2px solid #3a5b66;
  border-radius: 10px;
  background-color: #fff;
  color: #3a5b66;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: #3a5b66;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .portfolio__button {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__button {
    font-size: 14px;
  }
}

.result {
  position: relative;
  background-color: #3a5b66;
}
.result::before {
  content: "";
  display: block;
  width: 100vw;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: translateY(39px);
  -webkit-clip-path: polygon(50% 55%, 0 0, 100% 0);
          clip-path: polygon(50% 55%, 0 0, 100% 0);
  background: #3a5b66;
}
@media screen and (min-width: 768px) {
  .result::before {
    height: 60px;
    transform: translateY(59px);
  }
}
.result__title {
  font-size: 32px;
  line-height: 1.55;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .result__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .result__title {
    font-size: 48px;
  }
}
.result__box-positioning {
  height: 1000px;
  width: 100%;
}
.result__logo, .result__desing, .result__site, .result__promotion {
  position: -webkit-sticky;
  position: sticky;
}
.result__logo {
  top: 1000px;
  z-index: 5;
}
.result__box-logo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result__desing {
  top: 750px;
  z-index: 4;
}
.result__box-desing {
  position: absolute;
  top: 150px;
  left: 50px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result__site {
  top: 450px;
  z-index: 3;
}
.result__box-site {
  position: absolute;
  top: 300px;
  left: 150px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result__promotion {
  top: 150px;
  z-index: 2;
}
.result__box-promotion {
  position: absolute;
  top: 400px;
  left: 200px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result__block-title {
  font-size: 16px;
  line-height: 1.55;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .result__block-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .result__block-title {
    font-size: 20px;
  }
}
.result__picture {
  width: 95px;
}
@media screen and (min-width: 768px) {
  .result__picture {
    width: 120px;
  }
}
@media screen and (min-width: 768px) {
  .result__picture {
    width: 200px;
  }
}
.result__box-finished {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.result__box-finished::before {
  content: "";
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  height: 1px;
  background: linear-gradient(90deg, rgb(58, 91, 102) 0%, rgb(255, 153, 51) 15%, rgb(255, 153, 51) 83%, rgb(58, 91, 102) 100%);
}
@media screen and (min-width: 768px) {
  .result__box-finished::before {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .result__box-finished::before {
    width: 1200px;
  }
}
.result__picture-finished {
  width: 958px;
  text-align: center;
  margin-bottom: 20px;
}
.result__name {
  font-size: 32px;
  line-height: 1.55;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .result__name {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .result__name {
    font-size: 48px;
  }
}

.calculator__title {
  font-size: 22px;
  line-height: 1.55;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .calculator__title {
    font-size: 36px;
  }
}
.calculator__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .calculator__list {
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.calculator__item.is-oppen .calculator__form {
  display: flex;
}
@media screen and (min-width: 768px) {
  .calculator__item-position {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.calculator__button {
  width: 250px;
  height: 80px;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.55;
  font-weight: 600;
  border: 5px solid #fff;
  border-radius: 10px;
  color: #ffffff;
  background-color: #3a5b66;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.calculator__button:hover, .calculator__button:focus {
  background-color: #27454f;
}
@media screen and (min-width: 768px) {
  .calculator__button {
    width: 200px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__button {
    width: 300px;
    height: 100px;
    font-size: 36px;
  }
}
.calculator__form {
  display: none;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 60px;
}
.calculator__check-label, .calculator__radio-label {
  display: flex;
  align-items: center;
}
.calculator__check-label:not(:last-child), .calculator__radio-label:not(:last-child) {
  margin-bottom: 8px;
}
.calculator__icon-check {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.5;
  border: 3px solid #ff9933;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.calculator__check-label:hover .calculator__icon-check {
  opacity: 1;
  border: 3px solid #ff9933;
}
.calculator__checkbox:checked + .calculator__icon-check {
  opacity: 1;
  border: 3px solid #ff9933;
  background-image: url(../images/page-index/result/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}
.calculator__name-input {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.calculator__checkbox:checked ~ .calculator__name-input {
  color: #ff9933;
}
.calculator__radio-label:nth-child(3) {
  margin-bottom: 20px;
}
.calculator__icon-radio {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/page-index/result/radio-unchecked.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: 20px;
  margin-right: 5px;
  opacity: 0.5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.calculator__radio:checked + .calculator__icon-radio {
  opacity: 1;
  background-image: url(../images/page-index/result/radio-checked.svg);
}
.calculator__radio:checked ~ .calculator__name-input {
  color: #ff9933;
}
.calculator__radio-label:hover .calculator__icon-radio {
  opacity: 1;
}
.calculator__form-title {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}
.calculator__sum-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculator__sum {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  line-height: 1.55;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #3a5b66;
}
.calculator__sum-secondary-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35;
  color: #ff9933;
}
.calculator__consult {
  padding-top: 15px;
  padding-right: 35px;
  padding-bottom: 15px;
  padding-left: 35px;
  border: 2px solid #ff9933;
  border-radius: 30px;
  background-color: #3a5b66;
  line-height: 1.55;
  font-weight: 900;
  font-size: 15px;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.calculator__consult:hover, .calculator__consult:focus {
  border-color: #fff;
  background-color: #27454f;
}/*# sourceMappingURL=index.css.map */