.portfolio-logo__palette-1-1 {
  width: 30px;
  height: 30px;
  background: getColor("global-bacground");
  border: 1px solid getColor("dark-text");
  border-radius: 5px;
  rotate: 45deg;
}

.portfolio-logo__palette-1-2 {
  width: 30px;
  height: 30px;
  background: getColor("dark-text");
  border: 1px solid getColor("dark-text");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: -1;
  left: 140px;
}

.portfolio-logo__palette-2-1 {
  width: 30px;
  height: 30px;
  background: getColor("section-2-1");
  border: 1px solid getColor("section-2-1");
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  z-index: 2;
}

.portfolio-logo__palette-2-2 {
  width: 30px;
  height: 30px;
  background: getColor("section-2-2");
  border: 1px solid getColor("section-2-2");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-2-3 {
  width: 30px;
  height: 30px;
  background: getColor("white-color");
  border: 1px solid getColor("white-color");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  left: 160px;
}

.portfolio-logo__palette-3-1 {
  width: 30px;
  height: 30px;
  background: getColor("dark-text");
  border: 1px solid getColor("global-bacground");
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  z-index: 2;
}

.portfolio-logo__palette-3-2 {
  width: 30px;
  height: 30px;
  background: getColor("section-3-1");
  border: 1px solid getColor("white-color");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-4-1 {
  width: 30px;
  height: 30px;
  background: getColor("section-4-1");
  border: 1px solid getColor("global-bacground");
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  z-index: 2;
}

.portfolio-logo__palette-4-2 {
  width: 30px;
  height: 30px;
  background: getColor("white-color");
  border: 1px solid getColor("global-bacground");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-4-3 {
  width: 30px;
  height: 30px;
  background: getColor("section-4-2");
  border: 1px solid getColor("global-bacground");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 0;
  left: 160px;
}

.portfolio-logo__palette-5-1 {
  width: 30px;
  height: 30px;
  background: getColor("global-bacground");
  border: 1px solid getColor("dark-text");
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  z-index: 1;
}

.portfolio-logo__palette-5-2 {
  width: 30px;
  height: 30px;
  background: getColor("dark-text");
  border: 1px solid getColor("global-bacground");
  border-radius: 5px;
  rotate: 45deg;
  position: relative;
  right: 30px;
}

.portfolio-logo__palette-6-1 {
  width: 30px;
  height: 30px;
  background: getColor("section-6-1");
  border: 1px solid getColor("section-6-1");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 2;
  left: 120px;
}

.portfolio-logo__palette-6-2 {
  width: 30px;
  height: 30px;
  background: getColor("global-bacground");
  border: 1px solid getColor("global-bacground");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-6-3 {
  width: 30px;
  height: 30px;
  background: getColor("dark-text");
  border: 1px solid getColor("dark-text");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  left: 160px;
}

.portfolio-logo__palette-7-1 {
  width: 30px;
  height: 30px;
  background: getColor("section-7-1");
  border: 1px solid getColor("section-7-1");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 120px;
}

.portfolio-logo__palette-7-2 {
  width: 30px;
  height: 30px;
  background: getColor("dark-text");
  border: 1px solid getColor("dark-text");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 0;
  left: 140px;
}

.portfolio-logo__palette-8-1 {
  width: 30px;
  height: 30px;
  background: getColor("section-8-1");
  border: 1px solid getColor("section-8-1");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 2;
  left: 120px;
}

.portfolio-logo__palette-8-2 {
  width: 30px;
  height: 30px;
  background: getColor("section-8-2");
  border: 1px solid getColor("section-8-2");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 140px;
}

.portfolio-logo__palette-8-3 {
  width: 30px;
  height: 30px;
  background: getColor("dark-text");
  border: 1px solid getColor("dark-text");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  left: 160px;
}

.portfolio-logo__palette-9-1 {
  width: 30px;
  height: 30px;
  background: getColor("section-9-1");
  border: 1px solid getColor("section-9-1");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  z-index: 1;
  left: 120px;
}

.portfolio-logo__palette-9-2 {
  width: 30px;
  height: 30px;
  background: getColor("section-9-2");
  border: 1px solid getColor("section-9-2");
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  left: 140px;
}/*# sourceMappingURL=palette-portfolio.css.map */