.footer {
   background-color: getColor('accent');

   &__list-box {
      @extend %padding-list;
      @include tablet() {
         display: flex;
         gap: 20px;
         flex-wrap: wrap;
         justify-content: space-evenly;
      }
   }

   &__box-position {
      &:not(:last-child) {
         margin-bottom: 30px;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
         flex-basis: calc((100% / 2) - 20px);
      }
   }

   // ЛОГО
   &__logo {
      width: 100px;
      margin-bottom: $card-set-gap;
   }

   // соцсети
   &__social-network {
      @extend %padding-list;
      display: flex;
      gap: 10px;
      margin-bottom: $card-set-gap;
   }

   // Иконки СоцСетей
   &__social-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border: 0;
      border-radius: 50%;
      background-color: getColor('white-color');

      &:hover .footer__social-icon,
      &:focus .footer__social-icon {
         fill: getColor('secondary-color');
      }
   }

   &__social-icon {
      fill: getColor('primary-color');

      transition: fill $timing-function-cubic;
   }

   &__copyright {
      font-size: 12px;
      line-height: 1.55;
      color: getColor('white-text');

      @include desktop() {
         font-size: 14px;
      }
   }

   // футер услуги
   &__titel-list {
      font-size: 20px;
      line-height: 1.55;
      color: getColor('footer-text');

      margin-bottom: 15px;

      @include desktop() {
         font-size: 24px;
      }
   }

   &__nav-list {
      @extend %padding-list;
   }

   &__nav-item:not(:last-child) {
      margin-bottom: 5px;
   }

   &__nav-link {
      font-size: 12px;
      line-height: 1.55;
      color: getColor('white-text');

      transition: color $timing-function-cubic;

      &:hover,
      &:focus {
         color: getColor('secondary-accent');
      }

      @include desktop() {
         font-size: 14px;
      }
   }
}
