.header {
  @include positioning;

  background-color: getColor('primary-color');

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      content: '';
      @include positioning(absolute);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 480px;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(58, 91, 102, 1) 0%,
        rgba(255, 153, 51, 1) 15%,
        rgba(255, 153, 51, 1) 83%,
        rgba(58, 91, 102, 1) 100%
      );
      @media screen and (min-width: 768px) {
        width: 768px;
        gap: 10px;
      }
      @media screen and (min-width: 1200px) {
        width: 1200px;
      }
    }
  }

  // ----- Logo -----
  &__logo {
    width: 130px;
    height: 41px;

    @include tablet() {
      width: 110px;
      height: 35px;
    }

    @include desktop() {
      width: 170px;
      height: 61px;
    }
  }

  // ----- мобильное меню ------
  // ----- кнопка меню --------
  &__button-mobail {
    background: none;
    border: none;
    padding: 0;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  // ------ icon -----
  &__icon {
    fill: getColor('white-text');
    transition: fill $timing-function-cubic;
  }

  &__icon:hover,
  &__icon:focus {
    fill: getColor('secondary-color');
  }

  &__icon-menu,
  &__icon-cross {
    transition: display $timing-function-cubic;
  }

  &.is-hidden .header__icon-menu {
    display: none;
  }

  &__icon-cross {
    display: none;
  }

  &.is-hidden .header__icon-cross {
    display: block;
  }

  // ----- menu -----
  &__menu-mobail {
    display: flex;

    @include positioning(absolute);
    z-index: 999;
    left: -100%;
    top: 100%;
    width: 100vw;
    height: calc(100vh - 81px);

    justify-content: center;
    align-items: center;

    background-color: getColor('primary-color');

    transition: left $timing-function-menu;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &.is-hidden .header__menu-mobail {
    left: 0;
  }
}
// ----- navigation -----
.nav {
  @include positioning;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  @include tablet() {
    gap: 10px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  // ---- nav Desktop ---
  @media screen and (max-width: 767px) {
    &--hidden {
      display: none;
    }
  }

  &__list {
    @extend %padding-list;

    @media screen and (max-width: 767px) {
      margin-bottom: 50px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      margin-right: $card-set-gap;
    }
  }

  &__item {
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-bottom: $card-set-gap;
    }

    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-right: $card-set-gap;
      }
    }

    &--position {
      @include positioning;
    }
  }

  &__link,
  &__secondary-link {
    font-size: 19px;
    letter-spacing: 0.03em;
    line-height: 1.17;

    text-decoration: none;

    color: getColor('white-text');

    transition: color $timing-function-cubic;

    &:hover,
    &:focus {
      color: getColor('secondary-color');
    }

    @media screen and (min-width: 768px) {
      font-size: 13px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 19px;
    }
  }

  &__secondary-link {
    white-space: nowrap;
  }

  &.is-open .nav__link--secondary {
    display: block;
    margin-bottom: 147px;
  }

  &__link--secondary {
    display: block;
    @media screen and (max-width: 766px) {
      margin-bottom: 20px;
    }
  }

  &__open-secondary-menu {
    fill: getColor('white-text');
    transform: rotate(90deg);
    transition: transform $timing-function-cubic;
  }

  &.is-open .nav__open-secondary-menu {
    transform: rotate(150deg);
  }

  &__open-secondary-menu {
    fill: currentColor;
  }

  // ----- Вторичное меню -----
  &__secondary-list {
    @extend %padding-list;
    @include positioning(absolute);

    // display: none;
    pointer-events: none;
    top: -120px;
    left: -40px;
    opacity: 0;

    transition: top $timing-function-cubic, opacity $timing-function-cubic;
  }

  @media screen and (max-width: 767px) {
    &__secondary-list::before {
      content: '';
      @include positioning(absolute);
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 350px;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(58, 91, 102, 1) 0%,
        rgba(255, 153, 51, 1) 15%,
        rgba(255, 153, 51, 1) 83%,
        rgba(58, 91, 102, 1) 100%
      );
    }
  }

  &.is-open .nav__secondary-list {
    pointer-events: all;
    opacity: 1;
    z-index: 1;

    top: 20px;
  }

  &__secondary-item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__secondary-item:first-child {
    margin-top: 20px;
  }

  // Таблетка + ПК вторичное меню
  &__secondary-menu-tablet-box {
    @include positioning(absolute);
    pointer-events: none;
    top: -120px;
    left: -65%;
    opacity: 0;
  }
  &__decorate {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    background: getColor('secondary-color');
    clip-path: polygon(50% 45%, 45% 100%, 55% 100%);
  }
  &__secondary-list-tablet {
    @extend %padding-list;

    display: block;
    background: getColor('primary-color');
    border: 1px solid getColor('secondary-color');
    border-radius: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;

    transition: top $timing-function-cubic, opacity $timing-function-cubic;
  }

  &__item--position.is-open .nav__secondary-menu-tablet-box {
    pointer-events: all;
    opacity: 1;
    z-index: 1;

    top: 15px;
  }

  &__secondary-item-tablet:not(:last-child) {
    margin-bottom: 20px;
  }

  // Соцсети
  &__social-network {
    @extend %padding-list;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: getColor('white-color');
    border: 0px;
    border-radius: 50%;
  }

  &__social-icon {
    fill: getColor('primary-color');

    &:hover,
    &:focus {
      fill: getColor('secondary-color');
    }
  }
}

// ------ Консультация ------
.consultation {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 1.17;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  color: getColor('white-text');
  border: 2px solid getColor('secondary-color');
  border-radius: 8px;

  transition: color $timing-function-cubic, border-color $timing-function-cubic,
    background-color $timing-function-cubic;

  &:hover,
  &:focus {
    color: getColor('secondary-color');
    border-color: getColor('white-text');
    background-color: getColor('accent');
  }

  @media screen and (min-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;

    font-size: 13px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 35px;
    padding-right: 35px;

    font-size: 19px;
  }
}
