<section class="differences section">
  <div class="container">
    <h2 class="differences__title">Чим ми відрізняємось</h2>

    <div class="differences__box-table">
      <table class="differences__table">
        <thead>
          <tr class="differences__line-title">
            <th
              class="differences__data-title differences__data-title--alignment"
            >
              Послуга
            </th>
            <th class="differences__data-title">Web Wonder</th>
            <th class="differences__data-title">Інші веб-студі</th>
            <th class="differences__data-title">Фріланс</th>
          </tr>
        </thead>

        <tbody>
          <tr class="differences__line">
            <td class="differences__data differences__data--alignment">
              Розробка сайту
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
          </tr>
          <tr class="differences__line">
            <td class="differences__data differences__data--alignment">
              Створення дизайну
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
          </tr>
          <tr class="differences__line">
            <td class="differences__data differences__data--alignment">
              Просування сайту
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
          </tr>
          <tr class="differences__line">
            <td class="differences__data differences__data--alignment">
              Створення лого
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
          </tr>
          <tr class="differences__line">
            <td class="differences__data differences__data--alignment">
              Більше послуг <br />
              - менша вартість
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-cros">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#cros-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-cros">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#cros-table"
                ></use>
              </svg>
            </td>
          </tr>
          <tr class="differences__line">
            <td class="differences__data differences__data--alignment">
              Індивідуальний керуючий <br />
              менеджер, безкоштовно
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-check">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#check-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-cros">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#cros-table"
                ></use>
              </svg>
            </td>
            <td class="differences__data">
              <svg width="32" height="32" class="differences__icon-cros">
                <use
                  href="./images/page-index/svg/symbol-defs.svg#cros-table"
                ></use>
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
