<section class="portfolio section" id="portfolio">
  <div class="container portfolio__global-box">
    <h2 class="portfolio__title">Портфоліо</h2>

    <ul class="portfolio__list">
      <li class="portfolio__logo">
        <h3 class="portfolio__services-title">Логотип</h3>
        <picture>
          <source
            srcset="./images/page-index/logo/logo.png"
            type="image/webp"
          />
          <img
            src="./images/page-index/logo/logo.png"
            alt=""
            class="portfolio__img img-position"
          />
        </picture>
        <a href="" class="portfolio__button">Відкрити</a>
      </li>

      <li class="portfolio__site">
        <h3 class="portfolio__services-title">Розробка сайту</h3>
        <picture>
          <source
            srcset="./images/page-index/logo/logo.png"
            type="image/webp"
          />
          <img
            src="./images/page-index/logo/logo.png"
            alt=""
            class="portfolio__img img-position"
          />
        </picture>
        <a href="" class="portfolio__button">Відкрити</a>
      </li>

      <li class="portfolio__promotion">
        <h3 class="portfolio__services-title">Дизайн сайту</h3>
        <picture>
          <source
            srcset="./images/page-index/logo/logo.png"
            type="image/webp"
          />
          <img
            src="./images/page-index/logo/logo.png"
            alt=""
            class="portfolio__img img-position"
          />
        </picture>
        <a href="" class="portfolio__button">Відкрити</a>
      </li>
    </ul>
  </div>
</section>
