<section class="primery section">
  <div class="container">
    <div class="primery__position-img">
      <img
        src="./images/page-index/page-primary/html.png"
        alt="html"
        class="primery__html"
      />
      <img
        src="./images/page-index/page-primary/adobe-illustrator.jpg"
        alt="Логотип Illustrator"
        class="primery__adobe-illustrator"
      />
      <img
        src="./images/page-index/page-primary/figma.png"
        alt="Логотип Figma"
        class="primery__figma"
      />
      <img
        src="./images/page-index/page-primary/code_tags.png"
        alt="Скобки"
        class="primery__code_tags"
      />
      <img
        src="./images/page-index/page-primary/photoshop.jpg"
        alt="Логотип Photoshop"
        class="primery__photoshop"
      />
      <img
        src="./images/page-index/page-primary/eyedropper.png"
        alt="Крапельничка"
        class="primery__eyedropper"
      />

      <picture>
        <source
          srcset="./images/page-index/logo/logo-midle.webp"
          type="image/webp"
        />
        <img
          src="./images/page-index/logo/logo-midle.png"
          alt="Logo Web Wonder"
          class="primery__logo img-position"
        />
      </picture>
      <h1 class="primery__title">
        Студія, яка допоможе <br />
        тобі
        <br />
        <span
          class="primery__title-dynamic"
          data-period="2000"
          data-rotate='[ "зробити соковитий лого", "розробити сайт", 
                        "створити потужний дизайн", "запустити сайт у топ"]'
        ></span>
      </h1>

      <img
        src="./images/page-index/page-primary/codinghtml.png"
        alt=""
        class="primery__codinghtml"
      />
      <img
        src="./images/page-index/page-primary/aftere-ffects.jpg"
        alt=""
        class="primery__aftere-ffects"
      />
      <img
        src="./images/page-index/page-primary/color-palette.png"
        alt=""
        class="primery__color-palette"
      />
      <img
        src="./images/page-index/page-primary/css.png"
        alt=""
        class="primery__css"
      />
      <img
        src="./images/page-index/page-primary/visual_studio.png"
        alt=""
        class="primery__visual_studio"
      />
      <img
        src="./images/page-index/page-primary/format_color.png"
        alt=""
        class="primery__format_color"
      />
    </div>
  </div>
</section>
