<section class="proses section">
  <div class="container proses__container--line">
    <h2 class="proses__title">Як ми працюємо</h2>
    <ul class="proses__list">
      <li class="proses__item">
        <div class="proses__discussion proses__discussion--scroll">1</div>
        <div class="proses__box-positioning proses__box-positioning--left">
          <picture>
            <source
              srcset="./images/page-index/page-proses/discussion.webp"
              type="image/webp"
            />
            <img
              class="img-position proses__img"
              src="./images/page-index/page-proses/discussion.png"
              alt="Обговорення"
            />
          </picture>
          <h3 class="proses__name">Обговорення</h3>
          <p class="proses__description">
            Проводиться невелике опитування, щоб наша команда зорієнтувала Вас
            за вартістю та терміном виконання.
          </p>
        </div>
      </li>

      <li class="proses__item">
        <div class="proses__task proses__task--scroll">2</div>
        <div class="proses__box-positioning proses__box-positioning--right">
          <picture>
            <source
              srcset="./images/page-index/page-proses/technical-task.webp"
              type="image/webp"
            />
            <img
              class="img-position proses__img"
              src="./images/page-index/page-proses/technical-task.png"
              alt="Обговорення"
            />
          </picture>
          <h3 class="proses__name">Технічне завдання</h3>
          <p class="proses__description">
            Наш менеджер формує ТЗ, погоджує з Вами, перша частина оплати.
          </p>
        </div>
      </li>

      <li class="proses__item">
        <div class="proses__work proses__work--scroll">3</div>
        <div class="proses__box-positioning proses__box-positioning--left">
          <picture>
            <source
              srcset="./images/page-index/page-proses/work.webp"
              type="image/webp"
            />
            <img
              class="img-position proses__img"
              src="./images/page-index/page-proses/work.png"
              alt="Обговорення"
            />
          </picture>
          <h3 class="proses__name">Кипить робота...</h3>
          <p class="proses__description">
            Наші розробники та дизайнери створюють щось унікальне для Вас
            (звичайно під керівництвом менеджера).
          </p>
        </div>
      </li>

      <li class="proses__item">
        <div class="proses__edits proses__edits--scroll">4</div>
        <div class="proses__box-positioning proses__box-positioning--right">
          <picture>
            <source
              srcset="./images/page-index/page-proses/edits.webp"
              type="image/webp"
            />
            <img
              class="img-position proses__img"
              src="./images/page-index/page-proses/edits.png"
              alt="Обговорення"
            />
          </picture>
          <h3 class="proses__name">Правки</h3>
          <p class="proses__description">
            Виправляємо можливі неточності в рамках ТЗ та все те, що Вам не
            сподобалося.
          </p>
        </div>
      </li>

      <li class="proses__item">
        <span class="proses__resoult proses__resoult--scroll">5</span>
        <div class="proses__box-positioning proses__box-positioning--left">
          <picture>
            <source
              srcset="./images/page-index/page-proses/result.webp"
              type="image/webp"
            />
            <img
              class="img-position proses__img"
              src="./images/page-index/page-proses/result.png"
              alt="Обговорення"
            />
          </picture>
          <h3 class="proses__name">Результат &#128526;</h3>
          <p class="proses__description">
            Прийняття роботи замовником, друга частина оплати, навчання
            користування та технічна підтримка на перший час.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
