.differences {
   @include positioning;
   background-color: getColor('primary-color');

   &::before {
      content: '';
      display: block;

      width: 100vw;
      height: 40px;
      @include positioning(absolute);
      bottom: 0;
      left: 0;
      transform: translateY(39px);
      clip-path: polygon(48% 55%, 0 0, 100% 0);

      background: getColor('primary-color');

      @media screen and (min-width: $tablet) {
         height: 60px;

         transform: translateY(59px);
      }
   }

   &__title {
      @extend %title-text;
      color: getColor('white-text');
      margin-bottom: $card-set-gap;
   }

   //    ----- таблица ----

   &__box-table {
      @include positioning;
      left: 50%;
      transform: translateX(-50%);
      overflow: scroll;

      display: flex;
      justify-content: start;
      background-color: #fff;
      border-radius: 10px;

      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;

      width: 90vw;

      @media screen and (min-width: $desktop) {
         max-width: 1200px;
      }
   }

   &__table {
      text-align: center;
      width: 100%;

      border-radius: 15px;
      background-color: getColor('white-color');

      border-collapse: collapse;
   }

   &__data-title,
   &__data {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
   }

   &__line:not(:last-child) {
      border-bottom: 3px solid #e4e4e4;
   }

   &__data:not(:last-child) {
      border-right: 3px solid #e4e4e4;
   }

   &__data-title {
      font-size: 16px;
      line-height: 1.35;
      font-weight: 700;

      color: getColor('primary-color');
      border-bottom: 3px solid #e4e4e4;

      @media screen and (min-width: $tablet) {
         font-size: 18px;
      }

      @media screen and (min-width: $desktop) {
         font-size: 20px;
      }
   }

   &__data {
      font-size: 12px;
      line-height: 1.45;
      color: getColor('primary-color');

      @media screen and (min-width: $tablet) {
         font-size: 14px;
         line-height: 1.55;
      }

      @media screen and (min-width: $desktop) {
         font-size: 16px;
      }
   }

   &__data-title--alignment,
   &__data--alignment {
      text-align: start;
   }

   &__icon-check {
      fill: #25b309;
   }

   &__icon-cros {
      fill: #f24613;
   }
}
