// ----- КАЛЬКУЛЯТОР ------
.calculator {
  &__title {
    font-size: 22px;
    line-height: 1.55;
    font-weight: 700;
    text-align: center;
    margin-bottom: $card-set-gap;

    color: getColor('white-text');

    @include tablet {
      font-size: 36px;
    }
  }

  &__list {
    @extend %padding-list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      align-items: flex-start;
      flex-direction: row;
      gap: $card-set-gap;
    }
  }

  &__item {
    @include desktop {
      display: flex;
      flex-direction: column;

      align-items: center;
    }
  }

  &__item.is-oppen .calculator__form {
    display: flex;
  }

  &__item-position {
    @include tablet {
      display: flex;
      flex-direction: column;

      align-items: center;
    }
  }

  &__button {
    width: 250px;
    height: 80px;

    margin-bottom: $card-set-gap;

    font-size: 28px;
    line-height: 1.55;
    font-weight: 600;

    border: 5px solid getColor('white-color');
    border-radius: 10px;

    color: getColor('white-text');
    background-color: getColor('primary-color');

    transition: background-color $timing-function-cubic;

    &:hover,
    &:focus {
      background-color: getColor('accent');
    }

    @include tablet {
      width: 200px;

      font-size: 20px;
    }

    @include desktop {
      width: 300px;
      height: 100px;
      font-size: 36px;
    }
  }

  &__form {
    display: none;
    flex-direction: column;
    justify-content: start;

    margin-bottom: 60px;
  }

  // ---- ЧЕКБОКСЫ ----
  &__check-label,
  &__radio-label {
    display: flex;
    align-items: center;
  }

  &__check-label:not(:last-child),
  &__radio-label:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon-check {
    display: block;
    width: 20px;
    height: 20px;

    margin-right: 10px;
    opacity: 0.5;

    border: 3px solid getColor('secondary-color');

    transition: opacity $timing-function-cubic, border $timing-function-cubic,
      background-image $timing-function-cubic;
  }

  &__check-label:hover .calculator__icon-check {
    opacity: 1;
    border: 3px solid getColor('secondary-color');
  }

  &__checkbox:checked + .calculator__icon-check {
    opacity: 1;
    border: 3px solid getColor('secondary-color');
    background-image: url(../images/page-index/result/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
  }

  &__name-input {
    font-size: 16px;
    font-weight: 700;
    color: getColor('white-text');

    transition: color $timing-function-cubic;
  }

  &__checkbox:checked ~ .calculator__name-input {
    color: getColor('secondary-color');
  }

  // ------ РАДИОКНОПКИ -----
  &__radio-label:nth-child(3) {
    margin-bottom: $card-set-gap;
  }

  &__icon-radio {
    display: block;
    width: 20px;
    height: 20px;

    background-image: url(../images/page-index/result/radio-unchecked.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 20px;

    margin-right: 5px;
    opacity: 0.5;

    transition: opacity $timing-function-cubic,
      background-image $timing-function-cubic;
  }

  &__radio:checked + .calculator__icon-radio {
    opacity: 1;

    background-image: url(../images/page-index/result/radio-checked.svg);
  }

  &__radio:checked ~ .calculator__name-input {
    color: getColor('secondary-color');
  }

  &__radio-label:hover .calculator__icon-radio {
    opacity: 1;
  }

  &__form-title {
    font-weight: 700;
    font-size: 20px;

    color: getColor('white-text');

    margin-bottom: 10px;
  }

  // ----- Сумма расчета -----
  &__sum-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sum {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: $card-set-gap;

    border-radius: 10px;

    background-color: getColor('white-color');

    line-height: 1.55;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: getColor('primary-color');
  }

  &__sum-secondary-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.35;

    color: getColor('secondary-color');
  }

  //  ---- button
  &__consult {
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left: 35px;

    border: 2px solid getColor('secondary-color');
    border-radius: 30px;

    background-color: getColor('primary-color');

    line-height: 1.55;
    font-weight: 900;
    font-size: 15px;
    color: getColor('white-text');

    transition: background-color $timing-function-cubic,
      border-color $timing-function-cubic;

    &:hover,
    &:focus {
      border-color: getColor('white-color');
      background-color: getColor('accent');
    }
  }
}
